*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body::-webkit-scrollbar {
    display: none;
    
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.container .album {
    display: flex;
    align-items: center;
    justify-content: center;

}
.container .album .outer {
    
    height: 250px;
    width: 250px;
    background-color: rgb(21,21,21);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0,0,0,0.15) 1.95px 1.95px 2.6px;
}
.container .album .card {
    height: 300px;
    width: 250px;
    position: relative;
    left: 25%;
    background-color: black;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0,0,0,0.15) 1.95px 1.95px 2.6px;


}
.container .album .inner { 
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: white;
    overflow: hidden;
    display: flex;
   

}

.container .album .card img {
    width: 120%;
}
.container .album .outer .inner img {
    width: 100%;
}

.container .album .outer {
    z-index: -1;
    animation:rotate 2s infinite linear;
}
@keyframes rotate {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}


/* rotating images */


.outerbox {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;

}

.box {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: imgspinning 20s linear infinite;
}
@keyframes imgspinning {
    0% {
        transform: perspective(1000px) rotateX(0deg) ;
    }
    100% {
        transform: perspective(1000px) rotateX(360deg);
    }
    
}
.box span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateX(calc(var(--i) * 45deg)) translateZ(300px);
}

.box span img {
    position: relative;
    top: 0;
    left: 0;
    width: 110%;
    height: 110%;
    object-fit: contain;

}

/* neon text */
.neontext {
    
    font-family: arial;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #07252d;

}


.neontext h2 {
    position: relative;
    font-size: 6em;
    /* font-weight: 40px; */
    letter-spacing: 15px;

    color: #0e3742;
    /* text-transform: uppercase; */
    width: 100%;
    text-align: center;
    -webkit-box-reflect: below 2px linear-gradient(transparent, #0008);
    line-height: 0.70em;
    outline: none;
    animation: lightup 5s linear infinite;
}



@keyframes lightup {
    0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92% {
        color: #0e3742;
        text-shadow: none;
    }
    18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100% {
        color: #fff;
        text-shadow: 
        0 0 10px #03bcf4,
        0 0 20px #03bcf4,
        0 0 40px #03bcf4,
        0 0 80px #03bcf4,
        0 0 160px #03bcf4;
    }
}

/* typing text */
.typing-text {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #082032;
}

.typing-text .inner {
    display: flex;
}

.typing-text .inner .static-text {
    color: #FFF;
    font-size: 60px;
    font-weight: 400;

}
.typing-text .inner .dynamic-text {
    margin-left: 15px;
    line-height: 70px;
    height: 70px;
    overflow: hidden;
}

.typing-text .inner .dynamic-text li {
    list-style: none;
    color: #ff4c29;
    font-size: 60px;
    font-weight: 500;
    top: 0;
    position: relative;
    animation: slide 12s steps(4) infinite;

}
@keyframes slide {
    100% {

        /*(-) line-height * 4 */
        top: -280px;
    }
}


.typing-text .inner .dynamic-text li::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #082032;
    border-left: 2px solid #ff4c29;
    animation: typing 3s steps(10) infinite;
}

@keyframes typing {
    40%, 60% {
        left: calc(100% + 30px);
    }

    100% {
        left: 0;
    }
}



